

<div id="viewport">
  <div id="sidebar">
    <header>
    <h5>Configuraciones</h5>
    </header>
    <div class="wrapper">
      <ul class="nav">
        <li>
          <a routerLink="/configurar-aliado">
            Configuración de Aliados
          </a>
        </li>
        <li>
          <a routerLink="/configurar-envios-aliado">
            Envío de Información
          </a>
        </li>
        <li>
          <a routerLink="/trazabilidad">
            Trazabilidad
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
