#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  top:0;
  bottom: 0;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.14);
}

#sidebar header h5 {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  font-family: var(--bs-font-sans-serif);
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav {}

.wrapper {
  margin: auto 0;
  padding: 2%;
}

#sidebar .nav a {
  background: none;
  padding: 16px 24px;
}

li a {
  font-size: 1em;
  display: inline-block;
  padding: 2% 0;
  text-decoration: none;
  color: #000;
}

#sidebar .nav a:hover {
  background: none;
  color: #0d6efd;
  text-decoration: underline;
}

#sidebar .nav a i {
  margin-right: 16px;
}

a {
  font-size: 0.8em;
}
