@import "~bootstrap-icons/font/bootstrap-icons.css";

input {
    text-transform:uppercase;
}

textarea {
    resize: none;
}

.mat-dialog-header {
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .row {
      margin-bottom: 2%;
  }