<!--Asignar valor de tabla para definir como distribuir la informacion 
  y condicionar el layout -->
  <!-- [tableNumber]="tableNumber"  -->

<mat-horizontal-stepper (selectionChange)="changeStep($event)" [linear]="true">
  <mat-step label="Paso 1 - Empresas" [completed]="isActive1 === true ? true : false">
    <app-results-table 
    [(tableNumber)]="tableNumber" 
    [filteredAlly]="selectedAlly" 
    [filteredCompany]="selectedCompany"
    (nextStepWithRegistry)="continueToSecondStep($event)"
    (createAllyCompanyConfig)="createAllyCompanyConfig($event)"
    ></app-results-table>
    <app-table-overview 
    [allyAuditTableNumber]="allyAuditTableNumber"
    [(objAllyCompanyAudit)]="objAllyCompanyAuditCollection"
    [selectedCompany]="selectedCompany"
    [selectedAlly]="selectedAlly"
    ></app-table-overview>
  </mat-step>
  <mat-step label="Paso 2 - Socio Comercial" [completed]="isActive2 === true ? true : false">
    <div class="btn-wrapper">
      <button  class="btn btn-primary" matStepperPrevious>Volver <i class="bi bi-arrow-left-circle"></i></button>
      <button  class="btn btn-primary" matStepperNext >Configurar Produtos <i class="bi bi-arrow-right-circle"></i></button>
    </div>
    <app-second-step-table 
    [registry] = "registryToConfigure"
    (objTradersToConfig)="handleObjTradersToConfig($event)"
    ></app-second-step-table>
    <app-table-overview 
    [allyAuditTableNumber]="allyAuditTableNumber"></app-table-overview>
  </mat-step>
  <mat-step label="Paso 3 - Productos" [completed]="isActive3 === true ? true : false">
    <app-results-table 
    [tableNumber]="tableNumber" 
    [registry]="registry"
    (downloadCsv)="handleDownload($event)"></app-results-table>
    <app-table-overview 
    [allyAuditTableNumber]="allyAuditTableNumber"></app-table-overview>
  </mat-step>
</mat-horizontal-stepper>