<!--Asignar valor de tabla para definir como distribuir la informacion 
  y condicionar el layout -->

<mat-horizontal-stepper (selectionChange)="changeStep($event)">
  <mat-step label="Paso 1 - Empresas">
    <app-results-table 
    [tableNumber]="tableNumber" 
    [filteredAlly]="selectedAlly" 
    [filteredCompany]="selectedCompany"
    (nextStepWithRegistry)="continueToSecondStep($event)"></app-results-table>
    <app-table-overview [allyAuditTableNumber]="allyAuditTableNumber"></app-table-overview>
  </mat-step>
  <mat-step label="Paso 2 - Socio Comercial">
    <app-results-table 
    [tableNumber]="tableNumber" 
    [registry]="registryToConfigure"></app-results-table>
    <app-table-overview [allyAuditTableNumber]="allyAuditTableNumber"></app-table-overview>

  </mat-step>
  <mat-step label="Paso 3 - Productos">
    <app-results-table [tableNumber]="tableNumber"></app-results-table>
    <app-table-overview [allyAuditTableNumber]="allyAuditTableNumber"></app-table-overview>
  </mat-step>
</mat-horizontal-stepper>