<mat-horizontal-stepper (selectionChange)="changeStep($event)" [linear]="true">
  <mat-step label="Paso 1 - Empresas" [completed]="isActive1 === true ? true : false">

    <app-results-table 
    [selectedCountry]="selectedCountry"
    [configurationDone]="configurationDone"
    [registry]="registryToConfigure"
    [filteredAlly]="selectedAlly" 
    [cleanRegister]="cleanRegister"
    (cleanedConfig)="checkReset($event)"
    [filteredCompany]="selectedCompany"
    (nextStepWithRegistry)="continueToSecondStep($event)"
    (createAllyCompanyConfig)="createAllyCompanyConfig($event)"
    ></app-results-table>

    <app-table-configs-audit 
    [configurationDone]="configurationDone"
    [updatedAudit]="updatedAudit"
    [selectedCompany]="selectedCompany"
    [selectedAlly]="selectedAlly"
    [selectedCountry]="selectedCountry"
    ></app-table-configs-audit>

  </mat-step>
  <mat-step label="Paso 2 - Socio Comercial" [completed]="isActive2 === true ? true : false">
    <div class="btn-wrapper">
      <button  class="btn btn-primary" matStepperPrevious>Volver<i class="bi bi-arrow-left-circle"></i></button>
      <button  *ngIf= "objTradersConfig?.length" class="btn btn-primary" matStepperNext>Siguiente<i class="bi bi-arrow-right-circle"></i></button>
      <button  *ngIf= "!objTradersConfig?.length" class="btn btn-primary" matStepperNext disabled>Siguiente<i class="bi bi-arrow-right-circle" read></i></button>

    </div>

    <app-second-step-table
    [registry] = "registryToConfigure"
    [configurationDone]="configurationDone"
    (objTradersToConfig)="handleObjTradersToConfig($event)"
    (objToCompare)="handleObjToCompare($event)"
    (hasTradersSelected)="handleHasTraders($event)"
    ></app-second-step-table>

    <app-table-configs-audit 
    [configurationDone]="configurationDone"
    [selectedCompany]="selectedCompany"
    [selectedAlly]="selectedAlly"></app-table-configs-audit>

  </mat-step>

  <mat-step label="Paso 3 - Productos y Puntos de Venta" [completed]="isActive3 === true ? true : false"  matStepperIcon="">

    <app-table-third-step
    [registry]="registryToConfigure"
    [traders]="objTradersConfig"
    [configurationDone]="configurationDone"
    (previousStep)="handlePreviousStep($event)"
    (loadedMasterfile)="handleLoadedMasterfile($event)"
    (downloadCsv)="handleDownload($event)"
    ></app-table-third-step>

    <app-table-configs-audit 
    [configurationDone]="configurationDone"
    [selectedCompany]="selectedCompany"
    [selectedAlly]="selectedAlly"></app-table-configs-audit>

  </mat-step>
</mat-horizontal-stepper>