<div class="container">
  <div class="card border-secondary">
    <div class="card-header bg-primary text-white ">
      <h5 class="head-title"> Configurar > Servicios > Analiticos > CENc > Configurar un Aliado
      </h5>
    </div>
    <div class="card-body">
      <p><small>*Campos obligatorios</small></p>
      <app-text-box [text]="descriptionBoxText"></app-text-box>
      <app-search-create-ally [allies]="allies" [isConfiginfoSending]="configInfoSending"
        (chosenCountry)="handleSearchCountry($event)" (chosenAlly)="handleSearchAlly($event)"></app-search-create-ally>
      <div *ngIf="allies">
        <app-results-table [allies]="allies" [tableNumber]="tableNumber">
        </app-results-table>
      </div>
    </div>
    <app-audit-ally [audit]="audit" [textAudit]="descriptionAudit">
    </app-audit-ally>
  </div>
</div>
