<app-sidebar></app-sidebar>
<div class="container content-container ">
  <div class="border-secondary mat-elevation-z8">
    <div class="card-header bg-primary text-white ">
      <h5 class="head-title"> Configurar > Servicios > Analiticos > CENc > Configurar un Aliado
      </h5>
    </div>
    <div class="card-body">
      <p><small>*Campos obligatorios</small></p>
      <app-text-box 
      [text]="descriptionBoxText"
      ></app-text-box>
      <app-search-create-ally
        [allies]="allies" 
        [isConfiginfoSending]="configInfoSending"
        (chosenCountry)="handleSearchCountry($event)" 
        (chosenAlly)="handleSearchAlly($event)"
        (createdAlly)="handleNewAlly($event)">
      </app-search-create-ally>

      <!-- Spinner -->
      <mat-spinner *ngIf="isLoading === true"></mat-spinner>

      <!-- Tabla aliados -->
      <div *ngIf="!!allies; else notAvailable"  >
        <app-results-table 
        [allies]="allies" 
        [filteredAlly]="selectedAlly" 
        [tableNumber]="tableNumber"
        (isLoading)="handleIsloading($event)"
        (deletedAlly)="handleDeleteAlly($event)"
        (editedAlly)="handleEditedAlly($event)">
        </app-results-table>
      </div>

      <ng-template #notAvailable>
        <div class="card">
          <div class="card-body">
            No existe información para visualizar
          </div>
        </div>
      </ng-template>
    </div>
    <mat-divider></mat-divider>
    
    <!-- Tabla Auditoria -->
    <div *ngIf="audit">
      <app-table-overview [audit]="audit" [allyAuditTableNumber]="allyAuditTableNumber"></app-table-overview>
    </div>
  </div>
</div>
