<app-sidebar></app-sidebar>
<div class="container content-container ">
  <div class="border-secondary mat-elevation-z8">
    <div class="card-header bg-primary text-white ">
      <h5 class="head-title">Configurar un Aliado
      </h5>
    </div>
    <div class="card-body">
      <p><small>*Campos obligatorios</small></p>
      <app-text-box [text]="descriptionBoxText"></app-text-box>
      <app-search-create-ally [allies]="allies" [isConfiginfoSending]="configInfoSending"
        (chosenCountry)="handleSearchCountry($event)" (chosenAlly)="handleSearchAlly($event)"
        (createdAlly)="handleNewAlly($event)">
      </app-search-create-ally>

      <!-- Spinner -->
      <mat-spinner *ngIf="isLoading === true"></mat-spinner>

      <!-- Tabla aliados -->
      <app-table-allies [allies]="allies" [filteredAlly]="selectedAlly" (isLoading)="handleIsloading($event)"
        (deletedAlly)="handleDeleteAlly($event)" (editedAlly)="handleEditedAlly($event)">
      </app-table-allies>

    </div>

    <!-- Tabla Auditoria -->
    <div class="card">
      <div class="card-body">
        <app-table-allies-audit [audit]="audit" [selectedAlly]="selectedAlly"></app-table-allies-audit>
      </div>
    </div>
  </div>
</div>
