<ng-template #noDisponible>
  <div class="card">
    <div class="card-body">
      No existe información para visualizar
    </div>
  </div>
</ng-template>

<div *ngIf="traceCollection?.length; else noDisponible">
  <div class="col-sm">
    <button type="button" class="btn btn-primary" (click)="exportexcel()">Descargar Auditoria <i
        class="bi bi-file-earmark-arrow-down"></i></button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort matSortActive="company.idCompany" matSortDirection="desc"
    matSortDisableClear class="card-body">

    <ng-container matColumnDef="company.companyCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Código Empresa</th>
      <td mat-cell *matCellDef="let row">
        {{ row.company.companyCode }}
      </td>
    </ng-container>

    <ng-container matColumnDef="company.companyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Empresa</th>
      <td mat-cell *matCellDef="let row">
        {{ row.company.companyName }}</td>
    </ng-container>

    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del Archivo</th>
      <td mat-cell *matCellDef="let row">
        {{ row.fileName }}</td>
    </ng-container>

    <ng-container matColumnDef="generationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Generacion del Archivo</th>
      <td mat-cell *matCellDef="let row">
        {{ row.generationDate | date:'d/MMM/y HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef="sendDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Envío del Archivo</th>
      <td mat-cell *matCellDef="let row">
        {{ row.sendDate | date:'d/MMM/y HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef="numberPointsSale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro. Pto Vta Incluidos</th>
      <td mat-cell *matCellDef="let row">
        {{ row.numberPointsSale }}</td>
    </ng-container>

    <ng-container matColumnDef="numberTraders">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro. Socios Comerciales Incluidos</th>
      <td mat-cell *matCellDef="let row">
        {{ row.numberTraders }}</td>
    </ng-container>

    <ng-container matColumnDef="numberProducts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro. Productos</th>
      <td mat-cell *matCellDef="let row">
        {{ row.numberProducts }}</td>
    </ng-container>

    <ng-container matColumnDef="numberRecords">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro. de Registros</th>
      <td mat-cell *matCellDef="let row">
        {{ row.numberRecords }}</td>
    </ng-container>

    <ng-container matColumnDef="fileType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Archivo</th>
      <td mat-cell *matCellDef="let row">
        {{ row.fileType }}</td>
    </ng-container>

    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalle</th>
      <td mat-cell *matCellDef="let row">
        Detalle</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="dataSource?.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 30, 40]"></mat-paginator>

</div>
