<div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5>Auditoria</h5>
    </div>
    <div class="card-body">
      <table class="table table-hover" datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr class="bg-primary text-white">
            <th scope="col">Id Aliado</th>
            <th scope="col">Fecha Creacion</th>
            <th scope="col">Accion Ejecutada</th>
            <th scope="col">Fecha de Actualizacion</th>
            <th scope="col">Ip Origen</th>
            <th scope="col">Campo Afectado</th>
            <th scope="col">Valor Antes</th>
            <th scope="col">Valor Despues</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let audit of auditCollection">
            <td scope="row">{{ audit?.idAllied }}</td>
            <td scope="row">{{ audit?.creationDate | date: 'd/MMM/y HH:mm' }}</td>
            <td scope="row">{{ audit?.actionExecuted }}</td>
            <td scope="row">{{ audit?.updateDate | date: 'd/MMM/y HH:mm' }}</td>
            <td scope="row">{{ audit?.ipOrigin }}</td>
            <td scope="row">{{ audit?.affectedField }}</td>
            <td scope="row">{{ audit?.valueBefore }}</td>
            <td scope="row">{{ audit?.valueAfter }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>