<app-sidebar></app-sidebar>

<div class="container content-container">
  <div class="card mat-elevation-z8">
    <div class="card-header bg-primary text-white ">
      <h5 class="head-title">Configurar envío de información a aliados
      </h5>
    </div>
    <div class="card-body">
      <p><small>*Campos obligatorios</small></p>
      <app-text-box [text]="descriptionText"></app-text-box>
    </div>
    <div class="container">
      <app-search-create-ally 
        [allies]="selectedCountry" 
        [hasSelectedComercialPartners]="hasSelectedComercialPartners"
        [hasRegistry]="hasRegistry"
        [isConfiginfoSending]="configInfoSending"
        (cancelConfiguration)="handleCancel($event)"
        (saveConfiguration)="handleSave($event)"
        (chosenCountry)="handleSearchCountry($event)" 
        (chosenAlly)="handleSearchAlly($event)"
        (chosenCompany)="handleSearchCompany($event)">
      </app-search-create-ally>
      <div class="card">
        <div class="card-body">
          <app-config-tabs 
          [cleanConfig]="cleanConfig"
          [saveConfig]="saveConfig"
          [selectedAlly]="selectedAlly"
          [selectedCompany]="selectedCompany"
          (resetStepper)="handleReset($event)"
          (registry)="handleRegistry($event)"
          (comercialPartners)="handleComercialPartners($event)">
        </app-config-tabs>
        </div>
      </div>
    </div>
  </div>
