<div class="form">
    <mat-form-field appearance="fill">
        <mat-label>ID Aliado</mat-label>
        <mat-select [(ngModel)]="idAlly" (ngModelChange)="filterByAllyId($event)">
            <mat-option *ngFor="let ally of data?.allyCollection" [value]="ally.idAllied">
                {{ ally?.idAllied }}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nombre Aliado</mat-label>
        <mat-select [(ngModel)]="allyName" (ngModelChange)="filterByAllyName($event)">
            <mat-option *ngFor="let ally of data?.allyCollection" [value]="ally.name">
                {{ ally?.name }}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nombre Empresa</mat-label>
        <mat-select [(ngModel)]="companyName" (ngModelChange)="filterByCompanyName($event)">
            <mat-option *ngFor="let company of data?.companyCollection" [value]="company.companyName">
                {{ company?.companyName }}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Código Empresa</mat-label>
        <mat-select [(ngModel)]="companyCode" (ngModelChange)="filterByCompanyCode($event)">
            <mat-option *ngFor="let company of data?.companyCollection" [value]="company.companyCode">
                {{ company?.companyCode }}
            </mat-option>
          </mat-select>
      </mat-form-field>
      
</div>