<div class="container">
  <div *ngIf="data?.registry.lstAlliedTradersConfAudit?.length" class="table-wrapper">
    <app-table-data-audit [dataSet]="data.registry.lstAlliedTradersConfAudit" [dataType]="dataType.traders">
    </app-table-data-audit>
  </div>
  <div *ngIf="data?.registry.lstAlliedProductsConfAudit?.length" class="table-wrapper">
    <app-table-data-audit [dataSet]="data?.registry.lstAlliedProductsConfAudit" [dataType]="dataType.products">
    </app-table-data-audit>
  </div>
  <div *ngIf="data?.registry.lstAlliedPointsSaleConfAudit?.length" class="table-wrapper">
    <app-table-data-audit [dataSet]="data?.registry.lstAlliedPointsSaleConfAudit" [dataType]="dataType.pointsSale">
    </app-table-data-audit>
  </div>
  <div  *ngIf="data?.registry.lstMasterFiles?.length" class="table-wrapper">
    <app-table-data-audit [dataSet]="data?.registry.lstAlliedMasterFileConfAudit" [dataType]="dataType.masters">
    </app-table-data-audit>
  </div>
</div>
