<div class="sidebar-container">
  <div class="sidebar-logo">
    Navegacion
  </div>
  <ul class="sidebar-navigation">
    <li>
      <a routerLink="/configurar-aliado">
        <i class="fa fa-home" aria-hidden="true"></i>Configuracion de Aliados
      </a>
    </li>
    <li>
      <a routerLink="/configurar-envios-aliado">
        <i class="fa fa-home" aria-hidden="true"></i>Envio de Informacion a Aliados
      </a>
    </li>
    <li>
      <a routerLink="/trazabilidad">
        <i class="fa fa-tachometer" aria-hidden="true" ></i> Trazabilidad
      </a>
    </li>
  </ul>
</div>
