@import "~bootstrap-icons/font/bootstrap-icons.css";



th, td {
  font-size: 0.6rem;
  text-align: center;
}

.field {
  margin-bottom: 2%;
}

.custom-select {
  margin-left: 4%;
}

.action-icon {
  cursor: pointer;
  font-size: 0.8rem;
  color: rgb(255, 3, 3);
}

.action-icon:first-of-type {
  margin-right: 10px;
}

.btn-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 2% 0;
}

.description {
  color: rgb(0, 17, 248);
  cursor: pointer;
  font-weight: 600;
}
