@import "~bootstrap-icons/font/bootstrap-icons.css";

.btn-wrapper .btn {
  margin-right: 2%;
}

.card {
  margin-top: 2%;
}

.btn-wrapper {
  margin-bottom: 2%;
}

td,
th,
.mat-sort-header-button {
  font-size: 0.6rem;
  text-align: center !important;
}

.bi {
  padding-left: 4px;
}


::ng-deep .mat-sort-header-container {
  justify-content: center !important;
}

table {
  width: 100%;
}

.clickable {
  color: #0011f8;
  cursor: pointer;
  font-weight: 600;
}

mat-divider {
    margin-bottom: 2%;
}

app-upload-master-file {
  margin-bottom: 2%;
}