<app-sidebar></app-sidebar>
<div class="container content-container">
  <div class="card mat-elevation-z8">
    <div>
      <div class="card-header bg-primary text-white ">
        <h5 class="head-title"> Trazabilidad Envio de Datos al Aliado
        </h5>
      </div>
    </div>
    <div class="card-body">
    <app-text-box [text]="textBox"></app-text-box>
    <app-search-trace 
    (searchParams)="handleSearch($event)"
    ></app-search-trace>
    <mat-spinner *ngIf="isLoading === true"></mat-spinner>
    <div class="card-body">
      <app-trace-table
      [(traceParams)]="searchParams" 
      (ngModelChange)="updateTable($event)"
      [isLoading]="isLoading"
      (stopLoading)="handleIsloading($event)"></app-trace-table>
    </div>
  </div>
</div>
</div>
