<div class="container">
  <div class="card">
    <div class="border-secondary">
      <div class="card-header bg-primary text-white ">
        <h5 class="head-title"> Configurar > Servicios > Analiticos > CENc > Trazabilidad Envio de Datos al Aliado
        </h5>
      </div>
    </div>
    <div class="card-body">
    <app-text-box [text]="textBox"></app-text-box>
    <app-serch-company class="search-row"></app-serch-company>
    <div class="card-body">
      <app-results-table [tableNumber]="tableNumber"></app-results-table>
    </div>
  </div>
</div>
</div>
