@import "~bootstrap-icons/font/bootstrap-icons.css";

.card {
  width: 100%;
  margin: 1% auto;
}

.input-group {
  padding-right: 2%;
}

.wrapper {
  display: block;
}

.wrapper>.input-group {
  width: 25%;
  float: left;
}

.infoAlly {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: baseline;
}

.sideLabel {
  box-sizing: border-box;
  padding: 0 1%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.btn-wrapper .btn {
  margin-right: 2%;
}

.divider {
  margin-bottom: 2%;
}

.bi {
  padding-left: 4px;
}

.btn-group {
  display: flex !important;
  flex-flow: row nowrap !important;
  align-items: flex-start;
}

.fields  {
  display: flex;
  flex-flow: row nowrap;
}

.field {
  margin-right: 2%;
}

