@import "~bootstrap-icons/font/bootstrap-icons.css";

.card {
  width: 100%;
  margin: 1% auto;
}

.input-group {
  padding-right: 2%;
}

.wrapper {
  display: block;
}

.field {
  margin-bottom: 4%;
}

.wrapper>.input-group {
  width: 25%;
  float: left;
}

.infoAlly {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  flex-flow: column;
}

.btn-wrapper-2 {
  display: flex;
  flex-flow: row wrap;
}

.btn-wrapper>button {
  margin-bottom: 10%;
}

.sideLabel {
  box-sizing: border-box;
  padding: 0 1%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.allyField {
  margin-bottom: 4%;
}

.bi {
  padding-left: 4px;
}

.btn-group {
  display: flex !important;
  flex-flow: row nowrap !important;
  align-items: flex-start;
}
