<div class="card " [ngClass]="{'global-wrapper': isConfiginfoSending === true}">
  <div class="card-body wrapper">
    <div class="input-group">
      <div class="input-group field">
        <label class="input-group-text"><span class="red">*</span>Pais</label>
        <select class="form-control" [(ngModel)]="selectedCountry" (ngModelChange)="filterCountry($event)">
          <option selected>Seleccionar</option>
          <option value="CO">Colombia</option>
          <option value="CO">Todos</option>
          <option value="AR">Argentina</option>
        </select>
      </div>
      <div class="input-group field">
        <div *ngIf="isConfiginfoSending === false">
          <label class="input-group-text">Nombre Aliado</label>
        </div>
        <div *ngIf="isConfiginfoSending === true">
          <label class="input-group-text">*Nombre Aliado</label>
        </div>
        <select class="form-control" [(ngModel)]="selectedAlly" (ngModelChange)="filterAlly($event)">
          <option selected>Seleccionar</option>
          <option *ngFor="let ally of allies?.allies" [value]="ally.idAllied">
            {{ ally?.name }}
          </option>
        </select>
      </div>
      <div class="input-group sideLabel" *ngIf="isConfiginfoSending === true">
        <div class="input-group">
          <div class="company">
            <p class="label text-primary">Empresa</p>
          </div>
          <div class="input-group allyField">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">Nombre</span>
            </div>
            <input type="text" class="form-control">
          </div>
          <div class="input-group allyField">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">EAN</span>
            </div>
            <input type="text" class="form-control">
          </div>
          <div class="input-group allyField">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">ID</span>
            </div>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <!--- Si esta desde la pagina de configuracion del Aliado -->
    <div *ngIf="isConfiginfoSending === false" class="input-group">
      <div class="btn-wrapper">
        <button class="btn btn-primary" type="submit" (click)="openDialog()">Nuevo <i
            class="bi bi-plus-circle"></i></button>
        <button class="btn btn-primary" type="submit" (click)="filterAlly($event)">Buscar<i
            class="bi bi-search"></i></button>
      </div>
    </div>
    <!--- Si esta desde la pagina de configuracion de envio de informacion al aliado -->
    <div class="input-group btn-wrapper-2" *ngIf="isConfiginfoSending === true" class="input-group btn-group">
      <div class="btn-wrapper">
        <button class="btn btn-primary" type="submit" (click)="searchAlly($event)">Buscar</button>
        <button class="btn btn-primary" type="submit" (click)="saveAlly($event)">Guardar</button>
        <button class="btn btn-primary" type="submit" (click)="cancel($event)">Cancelar</button>
      </div>
    </div>
  </div>
