<div class="card">
  <div class="card-body wrapper">
    <div class="input-group">
      <label class="input-group-text"><span class="red">*</span>Pais</label>
      <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="selectedCountry"
        (ngModelChange)="filterCountry($event)">
        <option selected>Seleccionar</option>
        <option value="CO">Colombia</option>
        <option value="TO">Todos</option>
      </select>
    </div>
    <div class="input-group">
      <label class="input-group-text">Nombre Aliado</label>

      <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="selectedAlly" (ngModelChange)="filterAlly($event)">
        <option selected>Seleccionar</option>
        <option *ngFor="let ally of allies?.allies" [value]="ally.id">
            {{ ally?.name }}
       </option>
      </select>

    </div>
    <div class="btn-wrapper">
      <button class="btn btn-primary" type="submit">Nuevo</button>
    </div>
    <div class="btn-wrapper">
      <button class="btn btn-primary" type="submit" (click)="searchAlly($event)">Buscar</button>
    </div>
  </div>
</div>
