@import "~bootstrap-icons/font/bootstrap-icons.css";

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    font-size: 0.6rem;
    width: 25%;
  }

  .wrapper {
    margin: 2% 0;
  }

  .row {
    padding: 2% 0;
  }