<div class="card audit-table">

  <div class="card-header">
    <h5>Auditoria</h5>
  </div>
  <div class="card-body">

    <ng-template #noDisponible>
      <div class="card">
        <div class="card-body">
          No existe información para visualizar
        </div>
      </div>
    </ng-template>

    <div class="container wrapper" *ngIf="allyAuditTableNumber === 1">

      <div *ngIf="auditCollection?.length != 0 || !!auditCollection; else noDisponible">
        <div class="row">
          <div class="col-sm">
            <button type="button" class="btn btn-primary" (click)="exportexcel()">Descargar Auditoria <i
                class="bi bi-file-earmark-arrow-down"></i></button>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort id="excel-table" (matSortChange)="sortData($event)"
          matSortActive="updateDate" matSortDirection="desc" matSortDisableClear>

          <ng-container matColumnDef="idAllied">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Aliado </th>
            <td mat-cell *matCellDef="let row"> {{ row.idAllied }} </td>
          </ng-container>

          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Creacion</th>
            <td mat-cell *matCellDef="let row">
              {{ row.creationDate  | date: 'd/MMM/y HH:mm' }} </td>
          </ng-container>

          <ng-container matColumnDef="actionExecuted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Accion Ejecutada</th>
            <td mat-cell *matCellDef="let row"> {{ row.actionExecuted }} </td>
          </ng-container>

          <ng-container matColumnDef="updateDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de actualizacion</th>
            <td mat-cell *matCellDef="let row">
              {{ row.updateDate  | date: 'd/MMM/y HH:mm' }} </td>
          </ng-container>

          <ng-container matColumnDef="executor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ejecutado por</th>
            <td mat-cell *matCellDef="let row"> {{ row.executor }} </td>
          </ng-container>

          <ng-container matColumnDef="ipOrigin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>IP Origen</th>
            <td mat-cell *matCellDef="let row"> {{ row.ipOrigin }} </td>
          </ng-container>

          <ng-container matColumnDef="affectedField">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Campo afectado</th>
            <td mat-cell *matCellDef="let row"> {{ row.affectedField }} </td>
          </ng-container>

          <ng-container matColumnDef="valueBefore">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Antes</th>
            <td mat-cell *matCellDef="let row"> {{ row.valueBefore }} </td>
          </ng-container>

          <ng-container matColumnDef="valueAfter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Despues</th>
            <td mat-cell *matCellDef="let row"> {{ row.valueAfter }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [length]="dataSource?.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 30, 40]">
        </mat-paginator>
      </div>

    </div>

    <div *ngIf="allyAuditTableNumber === 2">

      <div *ngIf="auditCollection.length !== 0 || !!auditCollection; else noDisponible">
        <table mat-table [dataSource]="dataSource" matSort id="excel-table" (matSortChange)="sortData($event)"
          matSortActive="updateDate" matSortDirection="desc" matSortDisableClear>

          <ng-container matColumnDef="idRegistry">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Registro </th>
            <td mat-cell *matCellDef="let row"> {{ row.idAlliedCompanyConfAudit }} </td>
          </ng-container>

          <ng-container matColumnDef="idAllied">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Aliado </th>
            <td mat-cell *matCellDef="let row"> {{ row.allied.idAllied }} </td>
          </ng-container>

          <ng-container matColumnDef="allied.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Aliado </th>
            <td mat-cell *matCellDef="let row"> {{ row.allied.name }} </td>
          </ng-container>

          <ng-container matColumnDef="company.idCompany">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Empresa</th>
            <td mat-cell *matCellDef="let row"> {{ row.company.idCompany }} </td>
          </ng-container>

          <ng-container matColumnDef="company.companyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Empresa</th>
            <td mat-cell *matCellDef="let row"> {{ row.company.companyName }} </td>
          </ng-container>

          <ng-container matColumnDef="configurationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Configuracion</th>
            <td mat-cell *matCellDef="let row">
              {{ row.configurationDate  | date: 'd/MMM/y HH:mm' }} </td>
          </ng-container>

          <ng-container matColumnDef="state.state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado del Servicio</th>
            <td mat-cell *matCellDef="let row">
              {{ row.state.state }} </td>
          </ng-container>

          <ng-container matColumnDef="updateDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de actualizacion</th>
            <td mat-cell *matCellDef="let row">
              {{ row.updateDate  | date: 'd/MMM/y HH:mm' }} </td>
          </ng-container>

          <ng-container matColumnDef="executor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ejecutado por</th>
            <td mat-cell *matCellDef="let row"> {{ row.executor }} </td>
          </ng-container>

          <ng-container matColumnDef="actionExecuted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Accion Ejecutada</th>
            <td mat-cell *matCellDef="let row"> {{ row.actionExecuted }} </td>
          </ng-container>

          <ng-container matColumnDef="ipOrigin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>IP Origen</th>
            <td mat-cell *matCellDef="let row"> {{ row.ipOrigin }} </td>
          </ng-container>

          <ng-container matColumnDef="detail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalle</th>
            <td mat-cell *matCellDef="let row"> ver detalle </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [length]="dataSource?.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 30, 40]">
        </mat-paginator>
      </div>

      <ng-template #noDisponible>
        <div class="card-body">
          No existe información para visualizar
        </div>
      </ng-template>

    </div>
  </div>
</div>
